xml/xml1.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="produitType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="prix" type="xs:decimal" />
            <xs:element name="categorie" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:element name="produits">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produit" type="produitType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>

</xs:schema>